---
title: Catering
meta:
  description: 'All of our coffee origins start with a relationship; somebody knows
    somebody who&#x27;s growing coffee. Once we make a connection, we evaluate the
    growers&#x27; goals. Those goals need to include positive outcomes for the people
    and environment they directly affect. Most of our growers pick their own coffee.
    If they are hiring pickers, they need to be contributing holistically to improving
    their quality of life.   '
  image: "/img/meta/homepage.png"
heading: At Credo we believe that coffee is a conduit for pursuing meaning, impact,
  and community. We roast coffee every week so that you can always enjoy our coffee
  at its peak freshness. Let us provide our specialty grade coffee for your next event,
  and you’ll see what we mean.
details:
- title: Batch Brew
  description: |
    We offer freshly brewed coffee in large batches, ready to serve at any event. Our coffee is brewed into large cambros and made available for pickup on the day of.

    1 cambro serves about 60 people.

    _*Supplies and fixings can be added to each order._
- title: Chemex Service
  description: |
    For those that might want a more personalized touch to the coffee experience, we offer a Chemex station.

    This includes one of our baristas at each station preparing each cup of coffee, brewed out of our Chemex.

    1 Chemex brews about 4 cups of coffee.

    _*Supplies and fixings available._
image:
  src: "/img/credo-story7.jpg"
  srcset:
  - src: "/img/credo-story7-p-500.jpg"
    size: 500w
  - src: "/img/credo-story7.jpg"
    size: 1200w

---
<section class="hero">
  {% include navigation.html %}
  <div data-ix="popup-menu" class="hero-content catering">
    <div class="hero-content-cta">
      <h1 class="hero-heading white">{{ page.title }}</h1>
    </div>
  </div>
</section>
<div class="section">
  <div class="container">
    <div class="credo-text">{{ page.heading }}</div>
    <div class="columns w-row">
      <div class="w-col w-col-6">
        {% for detail in page.details %}
        <h2>{{ detail.title }}</h2>
        <div>{{ detail.description | markdownify }}</div>
        {% endfor %}
      </div>
      <div class="w-col w-col-6">
        {% if page.image %}
        <img src="{{ page.image.src }}"
          srcset="{%- for set in page.image.srcset -%}{{ set.src }} {{ set.size }}, {%- endfor -%}"
          sizes="(max-width: 479px) 96vw, (max-width: 767px) 92vw, (max-width: 991px) 46vw, 48vw" alt="" class="half-photo" />
        </div>
        {% endif %}
      </div>
    </div>
    <div class="center">
      <a href="#" class="button w-button popup" data-form="catering-form">Inquire about Catering ⟶</a>
    </div>
  </div>
</div>
{% include form-catering.html %}