---
title: Our Coffee
meta:
  description: We host direct-trade coffee shops because we want to encourage folks
    to take small steps toward meaning and impact in community. We got into coffee
    philosophically, but we also love great coffee. Smart roasting is a key step in
    great coffee. Our roasting happens in small batches downtown in close collaboration
    with Coffee Roasters Alliance. You&#x27;ll always be drinking coffee at its peak
    freshness. Our aim is to for the roast to draw out the substantial flavors of
    our carefully selected beans, so you can enjoy all the flavors our growers work
    so hard to produce.
  image: "/img/meta/homepage.webp"
text:
  first: |
    All of our coffee origins start with a relationship; somebody knows somebody who's growing coffee. Once we make a connection, we evaluate the growers' goals. Those goals need to include positive outcomes for the people and environment they directly affect. Most of our growers pick their own coffee. If they are hiring pickers, they contribute holistically to improving their quality of life.

    #### Guatemala

    This was our first origin. We met them through some friends and made our first of three trips down in the fall of 2010 to spend time with them. It comes from a dozen or so Ixil farmers from Chajúl in the Quiche district of Guatemala. It's grown in the mountains between 1300-1600 MASL. With Caturra, Bourbon, and Sarchimor varietals, this coffee is pleasantly acidic and full bodied with notes of Caramel, Chocolate, Green Apple, Watermelon.
  second: |
    We host direct-trade coffee shops because we want to encourage folks to take
    small steps toward meaning and impact in community. While we were initially
    attracted to coffee philosophically, we also love pursuing and presenting
    excellence in coffee. Smart roasting is a key step to presenting to you that
    excellence. Our roasting happens in small batches at our facility in Ivanhoe
    Village so you&#x27;ll always be drinking coffee at its peak freshness. Our aim
    is to craft each roast&#x27;s profile to develop to perfection the aromas,
    flavors, acidity and body in our carefully selected beans so you can enjoy
    everything our friends at origin work so hard to produce.
  third: |
    #### Mexico

    We met José through Dr. Conway at Rollins College. In 2017, CREDO&#x27;s
    founder (Ben) traveled to Chiapas to meet José and see the way that direct
    sale of coffee improves the quality of lives in the villages where he works.
    What Ben found was a local effort between the Rainforest Alliance, Heifer
    International, Toks (a Mexican restaurant chain), and the Mexican government
    to collaborate with their energy and resources to improve the quality of
    coffee production and the quality of life for coffee farmers. We&#x27;re
    excited to support their work by buying their coffee and are proud to have
    been the first to bring their beautiful coffee to the states. This coffee is
    grown on the slopes of Volcán Tacaná at 1400-1500 MASL. Containing a medley
    of Typica, Bourbon, Marsellesa, and Costa Rica 95 varietals, we roast this
    origin to highlight its notes ofBakers Chocolate, Clove, Sage, Salted
    Caramel. It&#x27;s our darkest roast, so if you&#x27;re a traditional coffee
    drinker that appreciates the bolder side of coffee, this one&#x27;s for you.
  fourth: |
    #### Honduras

    This coffee comes to us through our friend Emil whose family runs a mill in
    Honduras (mills facilitate the final preparation of coffee beans on behalf
    of growers who don't have the means to prepare it themselves). The family is
    a philanthropic force in the region in solidarity with the growers they
    serve. They also select coffee from organic farms to send over to us. In
    your hands is one of those coffees. With your purchase you're helping us,
    and them, make an impact for good.
  fifth: |
    #### Costa Rica

    We got connected to this coffee through our friend Kieth Wittingham. He is a
    business school professor with a focus on Coffee Supply Chain and had built
    a strong collaboration with non-profit coffee growers. Their mission is to
    pioneer methods for growing the highest quality coffee in the most
    sustainable way in their region. They take the methods they learn and teach
    surrounding subsistence level farmers. We’re proud to serve their coffee
    and join their mission of elevating the great work of coffee growers in
    Costa Rica.

  sixth: |
    #### Kenya

    Nate met Peter Kuria in the summer of 2021 when Peter stopped by our
    roasting facility one afternoon to introduce himself. Peter&#x27;s family
    has been farming coffee in Nakuru Kenya since 1983, and has recently
    expanded their operation into exporting their coffees to the states. Now,
    they help neighboring farmers mill and sort their coffees and are working
    towards helping their community gain access to better markets and higher
    prices. At present, we buy two coffees from the Kuria family; their Peaberry
    and part of their main crop. Comprised of SL28, Ruiru 11, Batian varietals,
    these coffees are latosolic grown at 1900 MASL, wet-washed, and dried on
    raised beds.
slider:
  first:
  - title: Beans
    image: "/v1572896829/beans_yytn5c.jpg"
  - title: Drying
    image: "/v1572896842/drying_rl0up2.jpg"
  - title: Growing / Drying
    image: "/v1572896856/growing-drying_qnlzrs.jpg"
  - title: Collecting / Washing
    image: "/v1572896869/collecting-washing_rhobvr.jpg"
  second:
  - title: Roast
    image: "/img/our-coffee/roast.webp"
  - title: Bag
    image: "/img/our-coffee/bag.webp"
  - title: Dispense
    image: "/img/our-coffee/dispense.webp"
image: /img/our-coffee/our-coffee-banner.webp
---
<section class="hero">
  {% include navigation.html %}
  <div data-ix="popup-menu" class="hero-content roasting {{ page.title | downcase | replace: ' ', '-' }}" style="background-image: linear-gradient(180deg,rgba(0,0,0,.5),rgba(0,0,0,.5)),url({{ page.image }})">
    <div class="hero-content-cta">
      <h1 class="hero-heading white">{{ page.title }}</h1>
    </div>
  </div>
</section>
<div class="section">
  <div class="container">
    {{ page.text.first | markdownify }}
    {{ page.text.second | markdownify }}
    {{ page.text.third | markdownify }}
    {{ page.text.fourth | markdownify }}
    <div data-animation="slide" data-duration="500" data-infinite="1" class="image-slider w-slider">
      <div class="w-slider-mask">
        {% for slide in page.slider.second %}
        <div class="w-slide">
          <img src="{{ slide.image }}" alt="{{ slide.title }}" />
        </div>
        {% endfor %}
      </div>
      <div class="w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="w-slider-arrow-right">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="w-slider-nav w-round"></div>
    </div>
    {{ page.text.fifth | markdownify }}
    {{ page.text.sixth | markdownify }}
  </div>
</div>
