---
title: Welcome to Downtown CREDO
meta:
  description: A social enterprise benefit corporation cultivating meaning, impact
    and community with direct trade coffee shops, co-working space, social enterprise
    accelerator and city-wide events.
  image: "/img/meta/homepage.png"
permalink: "/"
headline: Buying Coffee is a Big Deal
background_video:
  poster: "/img/credo-intro-poster.jpg"
  source:
  - "/vid/credo-intro-video.mp4"
  - "/vid/credo-intro-video.webm"
video:
  back_text: back to the site
  url: //cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2Fr5yREN7N4b8%3Fstart%3D2%26feature%3Doembed%26start%3D2&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3Dr5yREN7N4b8&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2Fr5yREN7N4b8%2Fhqdefault.jpg&args=start%3D2&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube"
quote: 'In the face of large systemic problems, It&#x27;s easy to suppose there&#x27;s
  nothing we can do. But systems are rarely changed by big heroic acts. It&#x27;s
  lots of small successive choices that build up to change. CREDO coffee is a choice.
  To reject apathy and believe in impact. It&#x27;s not just great coffee, it&#x27;s
  sourced from families through relationships and brought to you.

'
learn_more:
- title: Story
  sections:
  - title: Our Story
    description: Downtown CREDO is a social enterprise benefit corporation committed
      to inspiring the pursuit of meaning, impact and community
    link:
      title: Read the full story
      url: "/story"
  - title: Our Coffee
    description: We work hard to locate growers who are producing great coffee and
      leverage its sale for the benefit of their families, friends and villages. We
      roast our coffee in small batches right downtown to make sure it's just right
      and always fresh.
    link:
      title: Read more about our coffee
      url: "/coffee"
- title: Shop
  sections:
  - title: Catering
    description: Hosting an Event? Let us provide our specialty grade coffee! At Credo we believe that coffee is a conduit for pursuing meaning,
      impact, and community. We roast coffee every week so that you can always enjoy
      our coffee at its peak freshness. 
    link:
      title: Learn more about catering
      url: "/catering"
  - title: Wholesale
    description: Let us partner with you and we will commit to serve you with specialty
      coffee, the best consulting/training, and the right equipment to make your business
      a success.
    link:
      title: Learn more about wholesale
      url: "/wholesale"
- title: Friends
  sections:
  - title: Conduit
    description: We're hosting co-working that's convening the creative class and
      cultivating community.
    link:
      title: Visit Website
      url: http://credoconduit.com/
  - title: Rally Makers
    description: Our social enterprise accelerator is helping folks solve real problems
      and convening Orlando's best mentors.
    link:
      title: Visit Website
      url: http://rallysea.com/
  - title: Partners
    description: We like making an impact in our city but don't want to reinvent the
      wheel. So we partner with some folks.
    link:
      title: Read More
      url: "/rally/partners"

---
<div data-id="video-pop" class="video-pop" style="display:none">
  <div class="overlay-wrapper">
    <div id="videoplayer-1" style="padding-top:56.17021276595745%" class="vid1 w-node-8909566efbbe-6913a768 w-video w-embed">
      <iframe class="embedly-embed"
        src="{{ page.video.url }}"
        scrolling="no" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="true"></iframe>
      </div>
      <a href="#" data-ix="close-video" class="close-overlay">⟵ {{ page.video.back_text }}</a>
  </div>
</div>
<section class="hero">
  {% include navigation.html %}
  <div
    data-poster-url="{{ page.background_video.poster }}"
    data-video-urls="{{ page.background_video.source | join: ',' }}"
    data-autoplay="true" data-loop="true"
    class="hero-content w-background-video w-background-video-atom">
    <video autoplay="" loop="" muted="" playsinline=""
      style="background-image:url('{{ page.background_video.poster }}')">
      {% for source in page.background_video.source %}
      <source src="{{ source }}"/>
      {% endfor %}
    </video>
    <div class="hero-content-cta">
      <h1 data-ix="home-title" class="hero-heading home">{{ page.headline }}</h1>
      <a href="#" data-form="video-pop" class="hero-button w-button popup">watch video</a>
    </div><a href="#learn-more" class="learn-more w-inline-block">
      <div class="text-block">Learn More</div>
      <img src="/img/down-arrow.png" width="54" data-ix="arrow-bounce" alt="" class="down-arrow" />
    </a>
  </div>
</section>
<section class="section">
  <div class="container w-container">
    <div class="quote">{{ page.quote }}</div>
  </div>
</section>
<section class="section">
  <div class="container w-container">
    <p class="quote">Downtown Credo now has the ability to order online via Odeko. Click below to order from your favorite location!</p>
    <div class="w-row">
      <div class="w-col w-col-small-6 w-col-6 center">
        <a href="" class="button w-button">Mills-50 YMCA</a>
      </div>
      <div class="w-col w-col-small-6 w-col-6 center">
        <a href="https://order.odeko.com/merchant/832" class="button w-button">North Quarter</a>
      </div>
    </div>
  </div>
</section>
<section id="learn-more" class="section greybg">
  <h1 class="center">Our Locations</h1>
  {% assign sizes = "1080, 1280" | split: ", " %}
  <div class="_3col-equal">
    {% for location in site.locations %}
    <div class="one-third">
      <div class="home--division--wrap w-clearfix">
        <img
          src="{{ site.cloudinary }}{{ location.image }}"
          alt="{{ location.title }}"
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 33vw"
          srcset="{% for size in sizes %}{{ site.cloudinary }}/c_scale,w_{{ size }}{{ location.image }} {{ size }}w, {% endfor %}"
          class="image-full-width" />
        <h2 class="home--division--title">{{ location.title }}</h2>
      </div>
      <div class="container">
        <div>{{ location.details }}</div>
        {%- if location.rentable -%}<a href="#" target="_blank" class="text-link popup" data-form="rent-form">Rent this space ⟶</a>{%- endif -%}
        <h4>Address:</h4>
        <div>{{ location.map.address }}</div>
        <h4>Hours of operations</h4>
        <div>
          {% for entry in location.open %}
          <strong>{{ entry.days }}:</strong> {{ entry.hours }}<br />
          {% endfor %}
        </div>
        {%- if location.menu -%}
        <h4>Menu</h4>
        <a href="{{ location.menu }}" target="_blank" class="text-link">{{ location.title }} Menu ⟶</a>
        {%- endif -%}
        {%- if location.phone -%}
        <h4>Contact</h4>
        <div>{{ location.phone }}</div>
        {%- endif -%}
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<section id="learn-more" class="section">
  <div class="_3col-equal">
    {% for more in page.learn_more %}
    <div class="one-third">
      <div class="home--division--wrap">
        <h3>{{ more.title }}</h3>
      </div>
      {% for section in more.sections %}
      {% assign is_external = section.link.url | slice: 0, 4 %}
      <h4>{{ section.title }}</h4>
      <div>{{ section.description }}</div>
      <a href="{{ section.link.url }}" class="text-link">{{ section.link.title }} {% if is_external == "http" %}&UpperRightArrow;︎{% else %}&LongRightArrow;{% endif %}</a>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</section>
<section class="section newsbg">
  {% include form-newsletter.html %}
</section>
{% include form-rent.html %}
