---
title: Rally Partners
meta:
  description: |
    We&#x27;re committed to becoming people of impact by standing with friends who&#x27;re doing great work in the Parramore Corridor of neighborhoods. Downtown and Parramore Branches of the Central Florida Boys and Girls Clubs, John H. Jackson Neighborhood Center, Keeping Orlando Beautiful, New Image Youth Center.
  image: "/img/meta/homepage.png"
partners:
  - title: Boys and Girls Clubs
    description: Downtown and Parramore Branches of the Central Florida
    link: "https://www.bgccf.org/"
    image: "https://uploads-ssl.webflow.com/5876968a1b5dad706913a767/58d1a9061fc3148f760502dc_bgc-logo.png"
  - title: John H. Jackson Neighborhood Center
    link: "http://www.cityoforlando.net/recreation/jackson-community-center/"
    image: "https://uploads-ssl.webflow.com/5876968a1b5dad706913a767/58d1a92de0a30dcd0a8bdddc_jjnc-logo.png"
  - title: Keeping Orlando Beautiful
    link: "http://www.cityoforlando.net/publicworks/keep-orlando-beautiful/"
    image: "https://uploads-ssl.webflow.com/5876968a1b5dad706913a767/58d1a98ec8699c5a2600aeb5_kob-logo.png"
  - title: New Image Youth Center
    description: Downtown and Parramore Branches of the Central Florida
    link: "http://www.newimageyouth.org/"
    image: "https://uploads-ssl.webflow.com/5876968a1b5dad706913a767/58d1a9945e82ecce44f2843c_niyc-logo.png"
body: "We're committed to becoming people of impact by standing with friends who're doing great work in the Parramore Corridor of neighborhoods. Downtown and Parramore Branches of the Central Florida Boys and Girls Clubs, John H. Jackson Neighborhood Center, Keeping Orlando Beautiful, New Image Youth Center."
permalink: "/rally/partners"
---

<section class="hero">
  {% include navigation.html %}
  <div data-ix="popup-menu" class="hero-content partners">
    <div class="hero-content-cta">
      <h1 class="hero-heading white">{{ page.title }}</h1>
    </div>
  </div>
</section>
<div class="section">
  <div class="container">
    <div class="partners-wrap">
      {% for partner in page.partners %}
      <div class="partner">
        <img src="{{ partner.image }}" alt="">
        <h3>{{ partner.title }}</h3>
        {% if partner.description %}<div>{{ partner.description }}</div>{% endif %}
        <a href="{{ partner.link }}" class="text-link">Website</a>
      </div>
      {% endfor %}
    </div>
    <div>{{ page.body }}</div>
    {% include form-rally.html %}
  </div>
</div>
