---
title: People
meta:
  description: Wonderful people that make Downtown CREDO possible.
people:
- name: Ben Hoyer
  role: Director
  locale: I grew up in Lake Mary, but my family is solidly midwestern. But when anybody
    asks, I now proudly claim Orlando as home.
  bio: I see CREDO as working to create spaces or projects around which communities
    of meaning and impact can flourish. The community that I enjoy the most is my
    three children (Wesley, Eleanor, Hazel) and my wife. We've been together since
    2003 and in Orlando since 2009.
  image:
    src: "/v1572658303/ben_bmbmf0.jpg"
    srcset:
    - size: 500w
      image: "/img/5935d73bc64a0b04dedb5a15_ben-p-500.jpeg"
    - size: 600w
      image: "/img/5935d73bc64a0b04dedb5a15_ben.jpg"
  hover:
    src: "/v1572658335/ben-hover_i8hkkx.jpg"
    srcset:
    - size: 500w
      image: "/img/5935d73feb7ce33caf068b18_ben-hover-p-500.jpeg"
    - size: 600w
      image: "/img/5935d73feb7ce33caf068b18_ben-hover.jpg"
- name: Casey Coleman
  role: Barista
  locale: From Houston, Texas
  bio: I live and breathe music. From songwriting, playing and singing, to dancing,
    listening and worshiping. It truly colors every aspect of my life. I love that
    CREDO encourages the cultivation of authentic community, as I believe the best
    way to experience music is through or with other people.
  image:
    src: "/img/5935d7f6f6096f2f7f1d82d8_casey.jpg"
    srcset:
    - size: 500w
      image: "/img/5935d7f6f6096f2f7f1d82d8_casey-p-500.jpeg"
    - size: 600w
      image: "/img/5935d7f6f6096f2f7f1d82d8_casey.jpg"
  hover:
    src: "/img/5935d7faf6096f2f7f1d82d9_casey-hover.jpg"
    srcset:
    - size: 500w
      image: "/img/5935d7faf6096f2f7f1d82d9_casey-hover-p-500.jpeg"
    - size: 600w
      image: "/img/5935d7faf6096f2f7f1d82d9_casey-hover.jpg"
- name: Chase Patterson
  role: Lead Barista, North Quarter Market
  locale: Born in Dallas, Texas. Grew up in Orlando
  bio: To me, meaning doesn’t depend on what I’m actually doing or what duties I’m
    actually performing, but rather how those actions affect others. With Downtown
    CREDO, the work I am privileged to do each day contributes to the overall community
    in ways larger than the individual tasks themselves.
  image:
    src: "/img/5936a031fb0322234d5ef5ca_chase.jpg"
    srcset:
    - size: 500w
      image: "/img/5936a031fb0322234d5ef5ca_chase-p-500.jpeg"
    - size: 600w
      image: "/img/5936a031fb0322234d5ef5ca_chase.jpg"
  hover:
    src: "/img/5936a036fb0322234d5ef5ce_chase-hover.jpg"
    srcset:
    - size: 500w
      image: "/img/5936a036fb0322234d5ef5ce_chase-hover-p-500.jpeg"
    - size: 600w
      image: "/img/5936a036fb0322234d5ef5ce_chase-hover.jpg"
- name: Emiley Jones
  role: Marketing Coordinator &amp; Barista
  locale: From Orlando, FL
  bio: The mission to lead lives of meaning, impact, and community is engrained in
    every facet of CREDO, and I’m constantly overwhelmed with the level of commitment
    and intentionality in our customers, our partners, and my coworkers. Coffee can
    be a medium to so much more, and I am thrilled to see communities of people bettering
    this city and world through their choices both in and out of our coffeeshops.
  image:
    src: "/img/5935d8e8cfd6194fb844e4bf_emiley.jpg"
    srcset:
    - size: 500w
      image: "/img/5935d8e8cfd6194fb844e4bf_emiley-p-500.jpeg"
    - size: 600w
      image: "/img/5935d8e8cfd6194fb844e4bf_emiley.jpg"
  hover:
    src: "/img/5935d8ecb7b0593b7ccf1db5_emiley-hover.jpg"
    srcset:
    - size: 500w
      image: "/img/5935d8ecb7b0593b7ccf1db5_emiley-hover-p-500.jpeg"
    - size: 600w
      image: "/img/5935d8ecb7b0593b7ccf1db5_emiley-hover.jpg"
- name: Jason Moore
  role: Coffee Director
  locale: Born in Charleston, SC, but have been in Orlando for 11 years now and it's
    definitely what I call home.
  bio: We put a lot of thought and effort in ensuring our coffee shops are places
    where people's isolation is challenged. I love being a part of that because I've
    found the people that matter to me most are those who extend those same challenges
    to me. Community thrives on these sort of sharpening connections and I'm grateful
    we've created spaces where people take ownership of maintaining those levels of
    relationships.
  image:
    src: "/img/5935d898eb7ce33caf068b47_j.jpg"
    srcset:
    - size: 500w
      image: "/img/5935d898eb7ce33caf068b47_j-p-500.jpeg"
    - size: 600w
      image: "/img/5935d898eb7ce33caf068b47_j.jpg"
  hover:
    src: "/img/5935d87feb7ce33caf068b45_j-hover.jpg"
    srcset:
    - size: 500w
      image: "/img/5935d87feb7ce33caf068b45_j-hover-p-500.jpeg"
    - size: 600w
      image: "/img/5935d87feb7ce33caf068b45_j-hover.jpg"
- name: Jordan Albright
  role: Lead Barista, College Park
  locale: From I was born in Detroit, MI, basically raised on the beach in south Florida,
    then moved to Orlando to pursue degrees in Social Theory and Philosophy at UCF
  bio: Living intentionally and with meaning is my heartbeat. I’ve found it to be
    the most profound way of accessing the greatest amount of value from each situation
    and interaction I engage. It’s not always the easiest, but I feel it to be the
    most fulfilling at the end of the day.
  image:
    src: "/img/5935d8b9cfd6194fb844e454_jordan.jpg"
    srcset:
    - size: 500w
      image: "/img/5935d8b9cfd6194fb844e454_jordan-p-500.jpeg"
    - size: 600w
      image: "/img/5935d8b9cfd6194fb844e454_jordan.jpg"
  hover:
    src: "/img/5935d8bdf6096f2f7f1d82fc_jordan-hover.jpg"
    srcset:
    - size: 500w
      image: "/img/5935d8bdf6096f2f7f1d82fc_jordan-hover-p-500.jpeg"
    - size: 600w
      image: "/img/5935d8bdf6096f2f7f1d82fc_jordan-hover.jpg"
- name: Milena McMurrin
  role: Barista
  locale: From Crystal River, FL
  bio: I think that “impact” starts with loving and caring for the people in your
    immediate surroundings. Sometimes the biggest impact can come from showing genuine
    care to someone buying some coffee from you. I think that those daily impacts
    people can make can inspire and rally people together to pursue impacting the
    entire community.
  image:
    src: "/img/5935d82acfd6194fb844e43d_milena.jpg"
    srcset:
    - size: 500w
      image: "/img/5935d82acfd6194fb844e43d_milena-p-500.jpeg"
    - size: 600w
      image: "/img/5935d82acfd6194fb844e43d_milena.jpg"
  hover:
    src: "/img/5935d832cfd6194fb844e441_milena-hover.jpg"
    srcset:
    - size: 500w
      image: "/img/5935d832cfd6194fb844e441_milena-hover-p-500.jpeg"
    - size: 600w
      image: "/img/5935d832cfd6194fb844e441_milena-hover.jpg"
- name: Nathan Fields
  role: Barista
  locale: From North Georgia
  bio: To live a life of meaning is, for me, to intentionally engage others in ways
    that show love and grace.
  image:
    src: "/img/5935d6e2b7b0593b7ccf1d06_nate.jpg"
    srcset:
    - size: 500w
      image: "/img/5935d6e2b7b0593b7ccf1d06_nate-p-500.jpeg"
    - size: 600w
      image: "/img/5935d6e2b7b0593b7ccf1d06_nate.jpg"
  hover:
    src: "/img/5935d6e8e3a86726a7a57099_nate-hover.jpg"
    srcset:
    - size: 500w
      image: "/img/5935d6e8e3a86726a7a57099_nate-hover-p-500.jpeg"
    - size: 600w
      image: "/img/5935d6e8e3a86726a7a57099_nate-hover.jpg"
- name: Nicole Higgins
  role: Rally Director
  locale: Born in Jamaica, grew up in Orlando, and claim a handful of cultural cues
    from time in Georgia (Go Bears!), Southern California, and D.C.
  bio: 'Its perhaps cheesy, but “Meaning, Impact, and Community” is our proverbial
    ''why'' -- it''s a neat experience to see how people enter CREDO through various
    outlets: coffee shop life, cleanups, parades, co-working; and each of these seemingly
    separate activities are connected through that thread of Meaning, Impact, and
    Community.'
  image:
    src: "/img/5935d7584f2bad3b8fac2c78_nicole.jpg"
    srcset:
    - size: 500w
      image: "/img/5935d7584f2bad3b8fac2c78_nicole-p-500.jpeg"
    - size: 600w
      image: "/img/5935d7584f2bad3b8fac2c78_nicole.jpg"
  hover:
    src: "/img/5935d766b7b0593b7ccf1d3e_nicole-hover.jpg"
    srcset:
    - size: 500w
      image: "/img/5935d766b7b0593b7ccf1d3e_nicole-hover-p-500.jpeg"
    - size: 600w
      image: "/img/5935d766b7b0593b7ccf1d3e_nicole-hover.jpg"
- name: Reed Seely
  role: Barista
  locale: From Budapest, Hungary
  bio: I'm an introvert, so I really like time alone—thinking or driving or listening
    to music—but too often I’ve used that as an excuse to avoid the energy that it
    takes to connect with other people. Over the course of my life it’s easy for me
    to see that some of the best and healthiest times—though not always the easiest—were
    the times when I let people in and entered into community. I want to continue
    to take a chance with people and to keep fighting for connection, because I can’t
    do this life thing by myself, and I’m pretty sure I’m not the only one. I’m really
    thankful to be a part of CREDO, a community where everybody is welcome and where
    it’s okay if you don’t have it all together. God knows we don’t.
  image:
    src: "/img/5935d7c14f2bad3b8fac2ddf_reed.jpg"
    srcset:
    - size: 500w
      image: "/img/5935d7c14f2bad3b8fac2ddf_reed-p-500.jpeg"
    - size: 600w
      image: "/img/5935d7c14f2bad3b8fac2ddf_reed.jpg"
  hover:
    src: "/img/5935d75fc64a0b04dedb5a28_reed-hover.jpg"
    srcset:
    - size: 500w
      image: "/img/5935d75fc64a0b04dedb5a28_reed-hover-p-500.jpeg"
    - size: 600w
      image: "/img/5935d75fc64a0b04dedb5a28_reed-hover.jpg"

---
<section>
  {% include navigation.html %}
</section>
<div>
  <div class="staff--wrapper w-clearfix w-dyn-items w-row">
    {% for person in page.people %}
    <div class="staff--item dynamic-item dynamic-item-2 staff--single w-dyn-item w-col w-col-3">
      <img
        src="{{ person.image.src }}" alt=""
        sizes="(max-width: 479px) 92vw, (max-width: 767px) 96vw, 25vw"
        srcset="{% for set in person.image.srcset %}{{ set.image }} {{ set.size }}, {% endfor %}" />
      <img
        data-ix="new-interaction"
        src="{{ person.hover.src }}" alt=""
        sizes="(max-width: 479px) 92vw, (max-width: 767px) 96vw, 25vw"
        srcset="{% for set in person.hover.srcset %}{{ set.image }} {{ set.size }}, {% endfor %}"
        class="staff--photo--hover" style="opacity: 0; transition: opacity 200ms ease 0s;">
      <div class="staff--itme--text">
        <h4 class="staff--name">{{ person.name }}</h4>
        <div class="staff--role">{{ person.position }}</div>
        <div class="staff--from">{{ person.locale }}</div>
        <div class="staff--bio">{{ person.bio }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>