---
title: "Podcast"
meta:
  description: >-
    All of our coffee origins start with a relationship; somebody knows somebody who&#x27;s growing coffee. Once we make a connection, we evaluate the growers&#x27; goals. Those goals need to include positive outcomes for the people and environment they directly affect. Most of our growers pick their own coffee. If they are hiring pickers, they need to be contributing holistically to improving their quality of life.
  image: "/img/meta/homepage.png"
---

<section class="hero">
  {% include navigation.html %}
  <div data-ix="popup-menu" class="hero-content podcast">
    <div class="hero-content-cta">
      <h1 class="hero-heading white">{{ page.title }}</h1>
    </div>
  </div>
</section>
{% include podcast-player.html %}
