---
title: Origins
meta:
  description: All of our coffee origins start with a relationship; somebody knows
    somebody who&#x27;s growing coffee. Once we make a connection, we evaluate the
    growers&#x27; goals. Those goals need to include positive outcomes for the people
    and environment they directly affect. Most of our growers pick their own coffee.
    If they are hiring pickers, they need to be contributing holistically to improving
    their quality of life.
  image: "/img/meta/homepage.webp"
intro: |
  Downtown CREDO is a social enterprise benefit corporation committed to inspiring the pursuit of meaning, impact and community- through our Coffee and Community Initiatives. 

  We are instigated by our CREDO that says…
credo: Life is worth living. I refuse to merely exist. I pursue a life of meaning
  and purpose, fulfillment and joy. The world is not yet as it ought to be. Neither
  is my city. Neither am I. Yet, I reject apathy and despair. I engage the world,
  my city, and myself to make an impact for good. I am not alone. I press through
  narcissism, isolation and self-sufficiency striving to live in authentic community.
story:
- image: "/img/story/bags.webp"
  image_alt: Coffee bags
  text: |
    We move toward this CREDO with successive small choices, like our cups of coffee. We're convinced that *buying a cup of coffee is a big deal*. Our coffee is carried down mountains, shipped across oceans and carefully roasted just for you. Each cup of CREDO coffee not only tastes great, but it has a positive impact on the people who touch it. We build relationships with our growers and suppliers to avoid supporting exploitation of people or environment; and we pay growers as directly as possible to get as much money in their hands as we can. Your coffee purchase always supports a system; our system is making an impact for good. That's why we have you name your price for coffee in the cafés— at CREDO you don't just buy a cup, you decide how you will engage the supply chain.

    Downtown CREDO was founded in the spring of 2010 and opened the doors to its first coffee shop in College Park in early 2011. With trash clean-ups and get-fit weeks, vegetable gardens and coffee origin trips, songwriters stages and poetry readings, float building competitions and parades, social enterprise pitch competitions and permaculture workshops…over the first several years of our existence we created countless opportunities for folks to become friends and move toward lives of meaning impact and community, all while enjoying direct-trade coffee.

    Very quickly the challenging work of network cultivation was organized into three divisions: Coffee, Rally, and Conduit. Each of these divisions created opportunities for folks to not only be introduced to a life animated by the CREDO, but to step into the growing web of people who&#x27;ve committed to it.

- image: "/img/story/roast-pour.webp"
  image_alt: Pouring coffee beans into roaster
  text: |
    CREDO Conduit has grown into a co-working space where a community of companies and individuals is committed to the notion that our work gets better when we come alongside people who are different from us. Rally has spun off into its own non-profit in partnership with the Central Florida Foundation and Rollins College with the mission of elevating Orlando into a regional hub for new social enterprises. CREDO&#x27;s original neighborhood organizing efforts also spun off into its own non-profit called Orlando Together with the mission of fortifying cities and organizations by undermining racial divisions.

    Downtown CREDO now operates two name-your-price coffee shops and carefully roasts coffee for select wholesale partners. We&#x27;re learning that if you pursue a life of meaning impact and community and start with steps so small they seem silly, you may not know where you&#x27;ll end up—but it will certainly be good. We&#x27;d definitely encourage you to launch your own pursuit of meaning, impact and community (just make sure to bring good coffee).
image: /img/story/our-story-banner.webp
---
<section class="hero">
  {% include navigation.html %}
  <div data-ix="popup-menu" class="hero-content origins {{ page.title | downcase | replace: ' ', '-' }}" style="background-image: linear-gradient(180deg,rgba(0,0,0,.5),rgba(0,0,0,.5)),url({{ page.image }})">
    <div class="hero-content-cta">
      <h1 class="hero-heading white">{{ page.title }}</h1>
    </div>
  </div>
</section>
{% assign sizes = "500, 1080, 1200" | split: ", " %}
<div class="section">
  <div class="container">
    <div class="story-intro">{{ page.intro | markdownify }}</div>
    <div class="credo-text">{{ page.credo | markdownify }}</div>
    <div class="w-row">
      {% for item in page.story %}
      <div class="w-col w-col-6">
      <img
        src="{{ item.image }}"
        alt="{{ item.image_alt }}"
        class="half-photo" />
        <div>{{ item.text | markdownify }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
