---
title: Wholesale
meta:
  description: All of our coffee origins start with a relationship; somebody knows
    somebody who&#x27;s growing coffee. Once we make a connection, we evaluate the
    growers&#x27; goals. Those goals need to include positive outcomes for the people
    and environment they directly affect. Most of our growers pick their own coffee.
    If they are hiring pickers, they need to be contributing holistically to improving
    their quality of life.
  image: "/img/meta/homepage.png"
quote: Let us partner with you and we will commit to serve you with specialty coffee,
  the best consulting/training, and the right equipment to make your business a success.
wholesale:
  left:
  - title: Consulting
    description: We have years of consulting experience, we would love to come alongside
      you as a wholesale partner to help shape or reshape your concept. Our seasoned
      team can assist with all of the details of running a successful coffee business.
  - title: Equipment
    description: We are able to help you find coffee equipment from choice manufacturers
      and will work with your budget to build the package that best suits your vision.
  - title: Training
    description: We provide all of our wholesale customers with startup and ongoing
      training! Our training consists of everything from extensive coffee knowledge
      to espresso bar workflow.
  right:
  - title: Packaged Retail
    description: |
      Case of 12 - 12 oz bags. Organic, single-origin.

      Honduras Signature Organic, single-origin Guatemala.
  - title: Cold Brew
    description: |
      Concentrate or ready-to-serve, must be diluted before serving (bulk pricing available)

      BEST VALUE: Concentrate - 1 gallon or more. Serves: 32–12 oz pours.

      Prediluted - 1 gallon or more. Serves: 10–12 oz servings.
  - title: Bulk
    description: |
      Whole Bean or Ground Minimum 5 lbs.

      Organic, single-origin Honduras.

      Signature Organic, single-origin Guatemala.

---
<section class="hero">
  {% include navigation.html %}
  <div data-ix="popup-menu" class="hero-content wholesale">
    <div class="hero-content-cta">
      <h1 class="hero-heading white">{{ page.title }}</h1>
    </div>
  </div>
</section>
<div class="section">
  <div class="container">
    <div class="credo-text">{{ page.quote }}</div>
    <div class="columns w-row">
      <div class="w-col w-col-6">
        {% for item in page.wholesale.left %}
        <h2>{{ item.title }}</h2>
        <div>{{ item.description }}</div>
        {% endfor %}
      </div>
      <div class="w-col w-col-6">
        {% for item in page.wholesale.right %}
        <h2>{{ item.title }}</h2>
        <div>{{ item.description | markdownify }}</div>
        {% endfor %}
      </div>
    </div>
    <div class="center">
      <a href="#" target="_blank" class="text-link popup button w-button" data-form="wholesale-form">Inquire about wholesale ⟶</a>
    </div>
  </div>
</div>
{% include form-wholesale.html %}
