<div data-id="rent-form" class="rent-form-pop form-pop">
  <div class="popup-form-wrap w-clearfix">
    <a href="#" class="x">Ⅹ</a>
    <h2 class="center">Rent a Space</h2>
    <div class="form-block-2 w-form">
      <form id="wf-form-Rent-a-Space" name="wf-form-Rent-a-Space" data-name="Rent a Space">
        <div class="w-row">
          <div class="coloumn-form w-col w-col-6">
            <div class="w-row">
              <div class="w-col w-col-6">
                <label for="first-name-4">First Name</label>
                <input type="text" class="text-field w-input" maxlength="256" name="first-name" data-name="first name" id="first-name-4" required="" />
              </div>
              <div class="w-col w-col-6">
                <label for="last-name-2">Last Name</label>
                <input type="text" class="text-field left-border w-input" maxlength="256" name="last-name" data-name="last name" id="last-name-2" required="" />
              </div>
            </div>
            <label for="email-2">Contact Email</label>
            <input type="email" class="text-field w-input" maxlength="256" name="email" data-name="email" id="email-2" required="" />
            <label for="phone-2">Contact Phone</label>
            <input type="tel" class="text-field w-input" maxlength="256" name="phone" data-name="phone" id="phone-2" required="" />
            <label for="event-type">What kind of event are you hosting?</label>
            <input type="text" class="text-field w-input" maxlength="256" name="event-type" data-name="event type" id="event-type" required="" />
          </div>
          <div class="w-col w-col-6">
            <div class="w-row">
              <div class="w-col w-col-6">
                <label for="date">Date</label>
                <input type="text" class="text-field w-input" maxlength="256" name="date" data-name="date" id="datepicker-5" required="" />
              </div>
              <div class="w-col w-col-6">
                <div class="col-spacer">
                  <label for="Last-Name-2">Pick a Location</label>
                  <label class="radio-button-field w-radio">
                    <input type="radio" id="College Park" name="Choose-Space" value="College Park" data-name="Choose Space" class="w-form-formradioinput w-radio-input" />
                    <span for="College Park-2" class="w-form-label">College Park</span>
                  </label>
                  <label class="w-radio">
                    <input type="radio" id="Health Village" name="Choose-Space" value="Health Village" data-name="Choose Space" class="w-form-formradioinput w-radio-input" />
                    <span for="Health Village-2" class="w-form-label">Health Village</span>
                  </label>
                  <label class="w-radio">
                    <input type="radio" id="North Quarter" name="Choose-Space" value="North Quarter" data-name="Choose Space" class="w-form-formradioinput w-radio-input" />
                    <span for="North Quarter-2" class="w-form-label">North Quarter</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="w-row">
              <div class="w-col w-col-6">
                <label for="start-time-2">Start Time</label>
                <input type="text" class="text-field w-input" maxlength="256" name="start-time" data-name="start time" id="start-time-2" required="" />
              </div>
              <div class="w-col w-col-6">
                <label for="end-time-2">End Time</label>
                <input type="text" class="text-field left-border w-input" maxlength="256" name="end-time" data-name="end time" id="end-time-2" required="" />
              </div>
            </div>
            <div class="w-row">
              <div class="w-col w-col-6">
                <label for="guests">Number of guests</label>
                <input type="text" class="text-field w-input" maxlength="256" name="guests" data-name="guests" id="guests" required="" />
              </div>
              <div class="w-col w-col-6">
                <div class="col-spacer">
                  <label for="Last-Name-2">Additional Services</label>
                  <label class="w-checkbox">
                    <input type="checkbox" id="coffee" name="coffee" data-name="coffee" required="" class="w-checkbox-input" />
                    <span for="coffee" class="w-form-label">Coffee Service</span>
                  </label>
                  <label class="w-checkbox">
                    <input type="checkbox" id="espresso" name="espresso" data-name="espresso" required="" class="w-checkbox-input" />
                    <span for="espresso" class="w-form-label">Espresso Bar</span>
                  </label>
                  <label class="w-checkbox">
                    <input type="checkbox" id="barista" name="barista" data-name="barista" required="" class="w-checkbox-input" />
                    <span for="barista" class="w-form-label">Barista</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-full-spacer">
          <label for="notes-2">Anything else you would like to share?</label>
          <textarea id="notes-2" name="notes" maxlength="5000" data-name="notes" class="textarea w-input"></textarea>
        </div>
        <div class="center">
          <input type="submit" value="Submit" data-wait="Please wait..." class="button w-button" />
        </div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div>
