<div data-id="wholesale-form" class="wholesale-form-pop form-pop" style="display:none">
  <div class="popup-form-wrap w-clearfix">
    <a href="#" class="x">Ⅹ</a>
    <h2 class="center">Wholesale Inquiry</h2>
    <div class="form-text">We got into coffee philosophically, but we also love great coffee. Smart roasting is a key
      step in great coffee. Our roasting happens in small batches right in downtown Orlando so you’ll always be
      drinking coffee at its peak freshness. Our aim is for the roast to draw out the substantial flavors of our
      carefully selected beans, so you can enjoy all the flavors that our growers work so hard to
      produce.<br /><br />For select wholesale partners, we’re ready to offer our Honduran and Guatemalan beans.All
      CREDO coffee is premium, single origin coffee roasted locally. Prices vary with volume but starts at a minimum
      of 5lbs per month. Cups, stirrers, and other fixings available upon request.<br /><br />Please use the form
      below, we would love to partner with you!</div>
    <div id="wholesale" class="form-block-2 w-form">
      <form method="post" data-post="slack" action="https://hooks.slack.com/services/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"
        data-icon=":scales:" data-channel="#testing" data-name="Wholesale Inquiry">
        <div class="w-row">
          <div class="coloumn-form w-col w-col-6">
            <div class="w-row">
              <div class="w-col w-col-6">
                <label for="First-Name-4">First Name</label>
                <input type="text" id="wholesale-first-name" name="First-Name" data-name="First Name" maxlength="256" class="text-field w-input" />
              </div>
              <div class="w-col w-col-6">
                <label for="Last-Name-2">Last Name</label>
                <input type="text" id="wholesale-last-name" name="Last-Name" data-name="Last Name" maxlength="256" class="text-field left-border w-input" />
              </div>
            </div>
            <label for="Phone-2">Contact Phone</label>
            <input type="tel" class="text-field w-input" maxlength="256" name="Phone" data-name="Phone" id="Wholesale-phone" required="" />
            <label for="Email-3">Contact Email</label>
            <input type="email" class="text-field w-input" maxlength="256" name="Email" data-name="Email" id="Wholesale-email" required="" />
          </div>
          <div class="w-col w-col-6">
            <label for="Notes-2">let us know how can we help each other</label>
            <textarea id="wholesale-notes" name="Notes" maxlength="5000" data-name="Notes" class="textarea w-input"></textarea>
          </div>
        </div>
        <div class="col-full-spacer"></div>
        <div class="center"><input type="submit" value="Submit" data-wait="Please wait..." class="button w-button" />
        </div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div>
