<div class="rally-maker-form w-form">
  <form id="wf-form-Partners" name="wf-form-Partners" data-name="Partners">
    <h4>Want to find out how you can join us?</h4>
    <div>Write us a message and we will be in touch!</div><label for="name-3">Name:</label><input type="text"
      id="name-3" name="name-3" data-name="Name 3" placeholder="Enter your name" maxlength="256"
      class="w-input"><label for="email-3">Email Address:</label><input type="email" id="email-3" name="email-3"
      data-name="Email 3" placeholder="Enter your email address" maxlength="256" required="" class="w-input"><label
      for="field-3">Message</label><textarea id="field-3" name="field-3" placeholder="Example Text" maxlength="5000"
      data-name="Field 3" class="w-input"></textarea><input type="submit" value="Submit" data-wait="Please wait..."
      class="button w-button">
  </form>
  <div class="w-form-done">
    <div>Thank you! Your submission has been received!</div>
  </div>
  <div class="w-form-fail">
    <div>Oops! Something went wrong while submitting the form</div>
  </div>
</div>
