{% assign current = page.url | downcase | split: '/' | last %}

<div data-collapse="medium" data-animation="default" data-duration="400" class="hero-menu w-nav">
  <a href="/" class="w-nav-brand w--current">
    <img src="https://uploads-ssl.webflow.com/5876968a1b5dad706913a767/5c2e1db1a1a872e26a948465_logo.svg" alt="" class="logo" />
  </a>
  <nav role="navigation" class="nav-menu w-nav-menu">
    <div data-hover="1" data-delay="0" class="w-dropdown">
      <div class="navlink w-dropdown-toggle">
        <div>Locations</div>
        <div class="navlink-arrow w-icon-dropdown-toggle"></div>
      </div>
      <nav class="dropdown-list w-dropdown-list">
        <a href="/locations/college-park" class="dropdown-link w-dropdown-link">College Park</a>
        <a href="/locations/health-village" class="dropdown-link w-dropdown-link">Health Village</a>
        <a href="/locations/north-quarter" class="dropdown-link w-dropdown-link">North Quarter</a>
      </nav>
    </div>
    <div data-hover="1" data-delay="0" class="w-dropdown">
      <div class="navlink w-dropdown-toggle">
        <div>STORY</div>
        <div class="navlink-arrow w-icon-dropdown-toggle"></div>
      </div>
      <nav class="dropdown-list w-dropdown-list">
        <a href="/story" class="dropdown-link w-dropdown-link">Our Story</a>
        <a href="/coffee" class="dropdown-link w-dropdown-link">Our Coffee</a>
        <a href="/podcast" class="dropdown-link w-dropdown-link">Podcast</a>
      </nav>
    </div>
    <div data-hover="1" data-delay="0" class="w-dropdown">
      <div class="navlink w-dropdown-toggle">
        <div>Shop</div>
        <div class="navlink-arrow w-icon-dropdown-toggle"></div>
      </div>
      <nav class="dropdown-list w-dropdown-list">
        <a href="https://squareup.com/store/downtown-credo/" target="_blank" class="dropdown-link w-dropdown-link">Coffee &amp; Merch</a>
        <a href="https://squareup.com/store/downtown-credo/" target="_blank" class="dropdown-link w-dropdown-link">Gift Cards</a>
        <a href="/catering" data-w-id="7fff7416-a05c-284b-cbdc-b238d7f69e2d" class="dropdown-link w-dropdown-link">Catering</a>
        <a href="/wholesale" data-w-id="c458db88-e8fb-d207-2e61-0b082a5bf6f6" class="dropdown-link w-dropdown-link">Wholesale</a>
      </nav>
    </div>
    <div data-hover="1" data-delay="0" class="w-dropdown">
      <div class="navlink w-dropdown-toggle">
        <div>Friends</div>
        <div class="navlink-arrow w-icon-dropdown-toggle"></div>
      </div>
      <nav class="dropdown-list w-dropdown-list">
        <a href="http://credoconduit.com" target="_blank" class="dropdown-link w-dropdown-link">Conduit</a>
        <a href="http://rallysea.com" target="_blank" class="dropdown-link w-dropdown-link">Rally</a>
        <a href="http://orlandotogether.org" target="_blank" class="dropdown-link w-dropdown-link">Orlando Together</a>
      </nav>
    </div><a href="/contact" class="navlink w-nav-link">Contact</a>
  </nav>
  <div class="w-nav-button">
    <div class="icon w-icon-nav-menu"></div>
  </div>
</div>
