---
layout: default
---

<section class="hero">
  {% include navigation.html %}
  <div data-ix="popup-menu" class="hero-content {{ page.title | downcase | replace: ' ', '-' }}">
    <div class="shop-hero-wrapper">
      <img src="/img/logo-white.svg" width="200" alt="" class="hero--logo" />
      <div class="hero--content--cta--sub--small">convening</div>
    </div>
    <div class="hero--content--cta--sub--big">{{ page.title }}</div>
    <div class="hero--content--cta--sub--small">Since {{ page.year_opened }}</div>
  </div>
</section>
<div class="section">
  <div class="container">
    <h4>Address:</h4>
    <div>{{ page.map.address }}</div>
    <div data-widget-latlng="{{ page.map.latlong }}" data-widget-tooltip="Downtown Credo {{ page.title }}" data-widget-zoom="15" class="shop--map w-widget w-widget-map"></div>
    <div>{{ page.details }}</div>
    {%- if page.rentable -%}<a href="#" target="_blank" class="text-link popup" data-form="rent-form">Rent this space ⟶</a>{%- endif -%}
    <h4>Hours of operations</h4>
    <div>
      {% for entry in page.open %}
      <strong>{{ entry.days }}:</strong> {{ entry.hours }}<br />
      {% endfor %}
    </div>
    {%- if page.menu -%}
    <h4>Menu</h4>
    <a href="/{{ page.menu }}" target="_blank" class="menu-link">{{ page.title }} Coffee Menu ⟶</a>
    {%- endif -%}
    {%- if page.phone -%}
    <h4>Contact</h4>
    <div>{{ page.phone }}</div>
    {%- endif -%}
  </div>
</div>
{% include form-rent.html %}
